<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Hello World!! Sir Christian Cabrera</h1>

    <! --Gagawa tayo nang simple Link para sa iba pang routes -->
    
    <a href="/contact">contact</a>
    <a href="/faq">faq</a>
    <a href="/portfolio">portfolio</a>
    <a href="/services">services</a>
    <a href="/about">about</a>
    <a href="/team">team</a>
    <a href="/blog">blog</a>
    <a href="/testimonials">testimonials</a>
    <a href="/pricing">pricing</a>
</body>
</html>